---
import Banner from "../components/Banner.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Shop from "../components/Shop.astro";
import Chat from "../components/Chat.astro";

import Shopbillede from "../components/Shopbillede.astro";
import Abonnementshop from "../components/Abonnementshop.astro";

const data = await fetch(
  "https://lhlqzgpvydlodjfvvbru.supabase.co/rest/v1/Matchwinner",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxobHF6Z3B2eWRsb2RqZnZ2YnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ0Nzk0MDMsImV4cCI6MjAwMDA1NTQwM30.M5McXqusKfxEHBGbSXw15LL7maXShpRl7-Q-7oMgWeI",
    },
  }
).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Banner />
    <Header />
    <Menu />
    <Chat />
    <Shopbillede />

    <div class="grid_1-1-1-1">
      {
        data.map((product) => (
          <Shop
            image={`/img/${product.image}`}
            Titler={product.Titler}
            Beskrivelse={product.Beskrivelse}
            Pris={product.Pris}
          />
        ))
      }
    </div>

    <Shop />
    <Abonnementshop />
    <Footer />
  </body>
</html>

<script src="../scripts/forside.js"></script>

<style>
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 80%;
    margin-top: 5%;
  }
</style>
